.head_userbox{
  width: 286px;
  background-color: #fff;
 .imagewrap{
  width: 100%;
  height: 286px;
  overflow: hidden;
  img{
    display: block;
    width: 100%;
    height: 100%;
  }
 }
 .ctrl_bottom{
  padding:18px 5px 40px 25px;
 }

}

